<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ItemMapper">
  <cache />

  <select id="getItemListByProduct" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.PRODUCTID = #{value}
  </select>

  <select id="getItem" resultType="Item">
    SELECT * FROM ITEM I WHERE ITEMID = #{value}
  </select>

  <select id="getInventoryQuantity" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
  </select>

  <update id="updateInventoryQuantity">
    UPDATE INVENTORY 
    SET QTY = QTY - #{increment}
    WHERE ITEMID = #{itemId}
  </update>
  
  <update id="updateItem" parameterType="Item">
    UPDATE ITEM
    SET TITLE = #{title}, DESCRIPTION = #{description}, IMG = #{img}, QUANTITY = #{quantity}, SHIPPINGFEE = #{shippingFee}
    WHERE ITEMID = #{itemId}
  </update>
  
  <insert id="insertItem" parameterType="Item" useGeneratedKeys="true" keyProperty="itemId" keyColumn="itemId">
    INSERT INTO ITEM
      (ITEMID, TITLE, DESCRIPTION, IMG, QUANTITY, REGIDATE, VIEWS, SHIPPINGFEE, USERID, TYPE)
    VALUES
      (itemid_seq.nextval, #{title}, #{description}, #{img}, #{quantity}, SYSDATE, 0, #{shippingFee}, #{userId}, #{type})
  </insert>
  
  <update id="increaseItemViews">
    UPDATE ITEM
    SET VIEWS = VIEWS + 1
    WHERE ITEMID = #{ITEMID}
  </update>
  
  <select id="getViews" resultType="int">
    SELECT VIEWS FROM AUCTIONITEM A, ITEM I WHERE A.ITEMID=I.ITEMID AND I.ITEMID=#{ITEMID}
  </select>
  
  <select id="getRegiDate" resultType="Date">
    SELECT REGIDATE FROM ITEM WHERE ITEMID=#{ITEMID}
  </select>
  
  <delete id="deleteItem" parameterType="string">
    DELETE FROM ITEM WHERE ITEMID=#{ITEMID}
  </delete>   
</mapper>