<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>경매 장바구니</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/page/home.css}" >
</th:block>
    
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:src="@{/js/page/home.js}"></script>
</th:block>

<div layout:fragment="content">
	<br><h1 align="center">장바구니</h1><br>
	<br>
	<table th:unless="${#lists.isEmpty(cart.cartItemList.pageList)}" class="table table-bordered">
		<thead>
	        <tr>
	            <th scope="col">물품번호</th>
	            <th scope="col">이미지</th>
	            <th scope="col">제목</th>
	            <th scope="col">상태</th>
	            <th scope="col">현재가</th>
	            <th scope="col">경매 마감일</th>
	            <th scope="col">상세 정보</th>
	        </tr>
		</thead>
		<tbody style="text-align:center">
	        <tr th:each="cartItem : ${cart.cartItemList.pageList}">
	            <td th:text="${cartItem.auctionId}">id</td>
	            <td><img th:src="@{'/upload/' + ${cartItem.item.img}}" width="300" height="200"/></td>
	            <td th:text="${cartItem.item.title}">title</td>
	            <td th:text="${cartItem.status}">status</td>
	            <td th:text="${cartItem.currentPrice}">currentPrice</td>
	            <td th:text="${#dates.format(cartItem.endDate, 'yyyy/MM/dd HH:mm')}">endDate</td>
	            <td><a href="#" 
	                   th:href="@{/auction/{auctionId}(auctionId=${cartItem.auctionId})}" class="btn btn-primary">상세 정보 보기</a>
	                <br><br>
	                <a href="#" 
	                   th:href="@{/auction/removeItemFromCart.do(auctionId=${cartItem.auctionId})}" class="btn btn-warning">삭제</a>   
	            </td>
	        </tr>
		</tbody>
	</table>
	<div style="text-align:center">
		<th:if test="${!cart.cartItemList.firstPage}">
			<a th:href="@{/auction/viewCart.do(page=previousCart)}">
			<font color="green"><B>&lt;&lt; Prev</B></font></a>
		</th:if>
		<th:if test="${!cart.cartItemList.lastPage}">
			<a th:href="@{/auction/viewCart.do(page=nextCart)}">
			<font color="green"><B>Next &gt;&gt;</B></font></a>
		</th:if>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
</html>