<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<title>펀딩 내역</title>
</head>
<body>

<header th:include="fragment/header :: headerFragment"></header>

<div class="container">
<br><h1 align="center">펀딩 내역</h1><br>
<table th:if="${#lists.isEmpty(myCrowdFundingItemList)}">
	<h2>조회결과가 없습니다.</h2>
</table>

<table th:unless="${#lists.isEmpty(myLists)}">
	<tr>
		<th>펀딩 일시</th>
		<th>펀딩 아이템 제목</th>
		<th>펀딩 마감일</th>
		<th>상태</th>
	</tr>
	<tr th:each="myList : ${myLists}">
		<!-- <form action="" th:action="@{/crowdFunding/myFundingCheckout/cancel} th:object="${myList}" method="post" enctype="multipart/form-data"> -->
		<td th:text="${myList.startDate}">펀딩 일시</td>
		<td th:text="${myList.item.title}">펀딩아이템 제목</td>
		<td th:text="${myList.closingDate}">펀딩 마감일</td>
		<td th:text="${myList.status}">상태</td>
		<td><!-- <input type="hidden" th:value="${myList.crowdFundingItem.crowdFundingId}" th:field="${fundingForm.crowdFundingItem.crowdFundingId}"> -->
		<!-- <input type="submit" value="펀딩 취소" class="btn btn-primary float-right">--></td>
		</form>
	</tr>
</table>
</div>

<footer th:include="fragment/footer :: footerFragment"></footer>

</body>
</html>