<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/page/home.css}" >
</th:block>
    
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:src="@{/js/page/home.js}"></script>
</th:block>

<div align="center" layout:fragment="content">
	<h3>중고거래</h3>
	<div th:unless="${#lists.isEmpty(personalDealItems)}">
		<div th:each="personalDealItem : ${personalDealItems}">
			<table>
				<tr>
					<!--<td rowspan="4"><img th:src="@{'/upload/' + ${personalDealItem.img}}" width="130" height="100"/></td>-->
					<td>
						<a th:text="${personalDealItem.title}" th:href="@{/personalDeal/{personalDealId}(personalDealId=${personalDealItem.personalDealId})}"></a>
					</td>
				</tr>
				<tr>
					<td th:text="'판매금액: '+${personalDealItem.price}+'원'"></td>
				</tr>
			</table>
		</div>
	</div>
	
	<h3>경매 물품</h3>
	<div th:unless="${#lists.isEmpty(auctionItems)}">
		<div th:each="auctionItem : ${auctionItems}">
			<table>
				<tr>
					<td rowspan="4"><img th:src="@{'/upload/' + ${auctionItem.img}}" width="130" height="100"/></td>
					<td>
						<a th:text="${auctionItem.title}" th:href="@{/auction/{auctionId}(auctionId=${auctionItem.auctionId})}"></a>
					</td>
				</tr>
				<tr>
					<td th:text="'현재 입찰가: '+${auctionItem.currentPrice}+'원'"></td>
				</tr>
				<tr>
					<td th:text="'마감일: '+${#dates.format(auctionItem.endDate, 'yyyy/MM/dd HH:mm')}"></td>
				</tr>
				<tr>
					<td th:text="'조회수: '+${auctionItem.views}"></td>
				</tr>
			</table>
		</div>
	</div>
	
	<h3>크라우드펀딩</h3>
	<div th:unless="${#lists.isEmpty(crowdFundingItemList)}">
		<div th:each="crowdFundingItem : ${crowdFundingItemList}">
			<table>
				<tr>
					<td rowspan="3"><img th:src="@{'/upload/' + ${crowdFundingItem.item.img}}" width="130" height="100"/></td>
				</tr>
				<tr>
					<td>
						<a th:text="${crowdFundingItem.shortInfo}" th:href="@{/crowdFunding/item/{crowdFundingId}(crowdFundingId=${crowdFundingItem.crowdFundingId})}"></a>
					</td>
				</tr>
				<tr>
					<td th:text="((${crowdFundingItem.currentSponsoredAmount} / ${crowdFundingItem.targetAmount}) * 100) + '% 달성'">~% 달성</td>
				</tr>
			</table>
		</div>
	</div>
</div>
</html>