<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<title>경매 아이템 수정 화면</title>
<script>
function checkDisable(frm)
{
    if( frm.immdPurchase.checked == true ){
	   frm.immdPurchasePrice.disabled = true;
	} else 
	{
	   frm.immdPurchasePrice.disabled = false;
	}
}
</script>
</head>
<body>
<br><h1 align="center">경매 아이템 수정</h1><br>
	<div class="container">
		<form action="#" th:action="@{/auction/update/{auctionId}(auctionId=${auctionItem.auctionId})}" th:object="${auctionItem}" method="post" enctype="multipart/form-data">
			<p>
				<label for="title" th:text="#{title}">물품제목</label>:<br>
			    <textarea id="title" rows="1" cols="100" th:field="${auctionItem.item.title}"></textarea>
	    	</p>
			
		    <p>
				<label for="description" th:text="#{description}">물품설명</label>:<br>
				<textarea id="description" rows="20" cols="170" th:field="${auctionItem.item.description}"></textarea>
		    </p>
            
		    <p>
		    	<th:if="${auctionItem.item.img}">
					기존에 첨부된 이미지: <a href="#" th:text="${auctionItem.item.img}">첨부된 이미지</a>
				</th:if><br>
				<label for="img">변경할 이미지</label>:<br>
				<input type="file" id="file" name="file" placeholder="파일 선택">
		    </p>
		    <p>
				<label for="quantity" th:text="#{quantity}">수량</label>:<br>
				<input type="text" id="quantity" th:field="${auctionItem.item.quantity}" />
		    </p>
			
		  <!-- <div class="row-lg-10">
            <div class="form-group">
				카테고리: <select class="form-select form-select-sm" th:field="*{category}">
  							<option th:each="category : ${categories}"
  								th:value="${category}"
  								th:text="">카테고리</option>
							</select>
            </div>
		  </div> -->
		  <hr>
		    <p>
				<label for="startPrice" th:text="#{startPrice}">시작가</label>:<br>
				<input type="text" id="startPrice" th:field="${auctionItem.startPrice}" />
		    </p>
		    
		    <p>
				<label for="bidUnit" th:text="#{bidUnit}">입찰단위</label>:<br>
				<input type="text" id="bidUnit" th:field="${auctionItem.bidUnit}" />
		    </p>
		    
		    <p>
				<label for="startDate" th:text="#{startDate}">시작일</label>:<br>
				<input type="date" id="startDate" th:field="${auctionItem.startDate}" />
		    </p>
		    
		    <p>
				<label for="endDate" th:text="#{endDate}">종료일</label>:<br>
				<input type="date" id="endDate" th:field="${auctionItem.endDate}" />
		    </p>
		    
		  <hr>
		    <p>
		    	즉시 구매:
		    	<input type="checkbox" id="immdPurchase" name="immdPurchase" value="disable" onClick="checkDisable(this.form)"/>불가능<br>
		    	<label for="immdPurchasePrice" th:text="#{immdPurchasePrice}">즉시구매가</label>:
				<input type="text" id="immdPurchasePrice" th:field="${auctionItem.immdPurchasePrice}" />
		    </p>
		    <p>
				<label for="shippingFee" th:text="#{shippingFee}">배송비</label>:<br>
				<input type="text" id="shippingFee" th:field="${auctionItem.item.shippingFee}" />
		    </p>
		    
		  <hr>
		  <input type="submit" class="btn btn-primary btn-lg" value="등록하기" th:value="#{register.btn}">
		</form>					
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>