<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>JPetStore</title>
</head>
<body>
	<header th:include="fragment/header :: headerFragment"></header>
	
	<div class="container">
	<form action="" th:action="@{/crowdFunding/fund}" th:object="${fundingForm}" method="post" enctype="multipart/form-data">
	<table align="center">
		<tr>
			<td>
				<h2>주문내역</h2>
				<table border='1' bgcolor="#FFFF88">
					<tr>
						<td colspan="4"><font color="green" size="4"><b>주문내용</b></font></td>
					</tr>
					<tr>
						<td><b></b></td>
						<td><b>상품설명</b></td>
						<td><b>주문날짜</b></td>
						<td><b>금액</b></td>
					</tr>
					<tr bgcolor="#FFFF88">
						<td><img th:text="${fundingForm.crowdFundingItem.item.img}"></td>
						<td th:href="@{/crowdFunding/list(crowdFundingId=${fundingForm.crowdFundingItem.crowdFundingId})}"
							th:text="${fundingForm.crowdFundingItem.item.title}">Name</td>
						<td th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}">
							<input type="hidden" th:field="${fundingForm.orders.orderDate}">OrderDate</td>
						<td><input type="text" th:field="${fundingForm.orders.totalPrice}"></td>
					</tr>
					<tr>
						<td colspan="4"><font color="green" size="4"><b>배송정보</b></font></td>
					</tr>
					<tr>
						<td colspan="1">이름 :</td>
						<td colspan="3"><input type="text" th:field="${fundingForm.orders.shipToName}" /></td>
					</tr>
					<tr>
						<td colspan="1">전화번호 :</td>
						<td colspan="3"><input type="text" th:field="${fundingForm.orders.phone}" /></td>
					</tr>
					<tr>
						<td colspan="1">주소 :</td>
						<td colspan="3"><input type="text" th:field="${fundingForm.orders.shipAddr}" /></td>
					</tr>
					<tr>
						<td colspan="4"><font color="green" size="4"><b>결제정보</b></font></td>
					</tr>
					<tr>
						<td>은행 :</td>
						<td><input type="text" th:field="${fundingForm.orders.bankName}"></td>
					</tr>
					<tr>
						<td>카드번호 :</td>
						<td colspan="3"><input type="text" th:field="${fundingForm.orders.cardNumber}"/></td>
					</tr>
					<tr>
						<td>만료일 (MM/YYYY):</td>
						<td colspan="3"><input type="date" th:field="${fundingForm.orders.expiryDate}"/></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
		
			<td><input type="hidden" th:value="${fundingForm.crowdFundingItem.item.itemId}" th:field="${fundingForm.crowdFundingItem.item.itemId}">
			<input type="hidden" th:value="${fundingForm.crowdFundingItem.crowdFundingId}" th:field="${fundingForm.crowdFundingItem.crowdFundingId}">
			<input type="submit" value="결제하기"/></td>
		</tr>
	</table>
	</form>
	</div>
	
	<footer th:include="fragment/footer :: footerFragment"></footer>
	
</body>
</html>