<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org">
      
<!-- headerFragment 선언-->
<div th:fragment="headerFragment">
   <table>
		<tr>
			<td style="text-align:left">
				<a href="" th:href="@{/}"><img border="0" src="/images/mnm_logo.png" width="150" /></a>
			</td>
			<td style="text-align:right">
				<a th:if="${session.account == null}" th:href="@{/loginForm.do}">login</a>
				<a th:if="${session.account == null}" th:href="@{/joinForm.do}">join</a>
				<a th:if="${session.account != null}" th:href="@{/logout.do}">logout</a>
				<a th:if="${session.account != null}" th:href="@{/cart.do}">cart</a>
				<a th:if="${session.account != null}" th:href="@{/mypage.do}">mypage</a>
				
				<!-- 세션 확인용 -->
				<a th:if="${session != null}" th:href="@{/sessionCheck.do}">checkSession</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="" th:href="@{/personalDeal/list}">PersonalDeal</a>
				&nbsp&nbsp<img border="0" src="/images/separator.gif" />&nbsp&nbsp
				<a href="" th:href="@{/auction/list}">Auction</a>
				&nbsp&nbsp<img border="0" src="/images/separator.gif"/>&nbsp&nbsp
				<a href="" th:href="@{/crowdFunding/list}">CrowdFunding</a>
			</td>
		</tr>
		
	</table>
</div>
</html>