<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>JPetStore</title>
</head>

<body>
	<div th:fragment="includeTop">
		<table>
			<tr>
				<td><a href="" th:href="@{/shop/index.do}">MnM</a></td>
				<td>
					<form th:action="@{/shop/searchProducts.do}" method="post">
						<input type="hidden" name="search" value="" /> 
						<input type="text" name="keyword" size="80" /> 
						<input type="submit" />
					</form>
				</td>
				<!-- session에 로그인 정보가 있으면 -->
				<td th:if="${session.account}"> 
					<a href="" th:href="@{/shop/viewCart.do}">장바구니</a>
				</td>
				<td th:if="${session.account}">
					<a href="" th:href="@{/shop/signoff.do}">로그아웃</a>
				</td>
				<td th:if="${session.account}">
					<a href="" th:href="@{/shop/editAccount.do}">나의 정보</a>
				</td>
				<!-- session에 로그인 정보가 없으면 -->
				<td th:unless="${session.account} == null">
					<a href="" th:href="@{/shop/signonForm.do}">로그인</a>
				</td>
			</tr>
		</table>
	</div>
	<div th:replace="~{QuickHeader::quickHeader}"></div>
</body>
</html>
