<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>JPetStore</title>
</head>
<body>
	<div th:replace="~{IncludeTop::includeTop}"></div>
	<div align="center">
		<form action="@{}" method="post">
			<br> <br>

			<table>
				<tr>
					<td>
						<h3>
							<font color="darkgreen">User Information</font>
						</h3>
						<table>
							<tr>
								<td>아이디 :</td>
								<td><input type="text" name="id" size="20" value=""
									th:field="${accountCommand.id}" /></td>
							</tr>
							<tr>
								<td>비밀번호 :</td>
								<td><input type="password" name="password" size="20"
									value="" th:field="${accountCommand.password}" /></td>
							</tr>
							<tr>
								<td>비밀번호 한번 더  :</td>
								<td><input type="password" name="password" size="20"
									value="" th:field="${accountCommand.password}" /></td>
							</tr>
							<tr>
								<td>이름 :</td>
								<td><input type="text" name="name" size="20" value=""
									th:field="${accountCommand.name}" /></td>
							</tr>
							<tr>
								<td>이메일 :</td>
								<td><input type="text" name="email" size="20" value=""
									th:field="${accountCommand.email}" /></td>
							</tr>
							<tr>
								<td>전화번호 :</td>
								<td><input type="text" name="phone" size="20" value=""
									th:field="${accountCommand.phone}" /></td>
							</tr>
							<tr>
								<td>주소 :</td>
								<td><input type="text" name="address" size="20" value=""
									th:field="${accountCommand.address}" /></td>
							</tr>
						</table>

					</td>
				</tr>
			</table>
			<br /> <input type="submit" value="수정하기" />
		</form>
	</div>

</body>
</html>