<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>JPetStore</title>
</head>
<body>
	<div th:replace="~{IncludeTop::includeTop}"></div>
	<div align="center">
		<a href="" th:href="@{/myAccount/update/{updateproperty}}">프로필
			수정하기</a>
	</div>
	<div align="center">
		<a href="" th:href="@{/sellerPage}">판매내역</a> <a href="" th:href="@{}">구매내역</a>
		<a href="" th:href="@{}">나의 크라우드펀딩</a> <a href="" th:href="@{}">경매
			내역</a>
	</div>
	<div align="center">
		<table>
			<tr>
				<td colspan="2">
					<h2>favorite category와 관련된 추천</h2>
				</td>
			<tr>
				<td>
					<p>회원간 거래</p>
				</td>
				<td><a href="" th:href="@{}">지금참여하기</a></td>
			</tr>
			<tr>
				<td>
					<p>경매</p>
				</td>
				<td><a href="" th:href="@{}">지금참여하기</a>
				</td>
			<tr>
				<td>
					<p>크라우드펀딩</p>
				</td>
				<td><a href="" th:href="@{}">지금참여하기</a>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>