<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mnm.dao.mybatis.mapper.AccountMapper">

	<insert id="insertAccount" parameterType="Account">
		insert into account
		(userid, email, name, addr, phone, favcategory, pwd, account_idx, kakao)
    	values
		(#{userid}, #{email,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{favcategory,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, account_seq.nextval, #{kakao,jdbcType=VARCHAR})
	</insert>
	
	<delete id="deleteAccount" parameterType="String">
		delete from account
		where userid=#{userid}
	</delete>
	
	<update id="updateAccount" parameterType="Account">
		update account
		set email=#{email,jdbcType=VARCHAR}, addr=#{addr,jdbcType=VARCHAR}, phone=#{phone,jdbcType=VARCHAR}, favcategory=#{favcategory,jdbcType=VARCHAR}, pwd=#{pwd,jdbcType=VARCHAR}
		where userid=#{userid}
	</update>
	
	<select id="getPwd" parameterType="String" resultType="String">
		select pwd from account
		where userid=#{id}
	</select>
	
	<select id="getAccount" parameterType="String" resultType="Account">
		select * from account
		where userid=#{id}
	</select>
	
	<select id="hasAccount" parameterType="String" resultType="String">
		select userid from account
		where userid=#{id}
	</select>

</mapper>
