<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mnm.dao.mybatis.mapper.AccountMapper">

	<insert id="insertAccount" parameterType="Account">
		INSERT INTO ACCOUNT
		(userid, email, name, addr, phone, favcategory, pwd)
    	VALUES
		(#{id}, #{email}, #{name}, #{address}, #{phone}, #{favCategory}, #{pwd})
	</insert>
	
	<select id="getPwd" parameterType="String" resultType="String">
		SELECT pwd FROM ACCOUNT
		WHERE userid=#{id}
	</select>

</mapper>
