<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mnm.dao.mybatis.mapper.AuctionMapper">
  <cache />
  
  <insert id="insertAuctionItem" parameterType="AuctionItem" useGeneratedKeys="true" keyProperty="auctionId" keyColumn="auctionId">
    INSERT INTO AUCTIONITEM
      (AUCTIONID, CURRENTPRICE, STARTPRICE, BIDUNIT, IMMDPURCHASEPRICE, STARTDATE, ENDDATE, STATUS, ITEMID)
    VALUES
      (auctionid_seq.nextval, #{startPrice}, #{startPrice}, #{bidUnit}, #{immdPurchasePrice}, #{startDate}, #{endDate}, '경매대기중', #{item.itemId})
  </insert>
  
  <update id="updateAuctionItem" parameterType="AuctionItem">
  	UPDATE AUCTIONITEM
    SET STARTPRICE = #{startPrice}, CURRENTPRICE = #{currentPrice}, BIDUNIT = #{bidUnit}, IMMDPURCHASEPRICE = #{immdPurchasePrice}, STARTDATE = #{startDate}, ENDDATE = #{endDate}
    WHERE AUCTIONID = #{auctionId}
  </update>
  
  <select id="getAuctionItem" resultType="AuctionItem">
    SELECT * FROM AUCTIONITEM
    WHERE AUCTIONID=#{AUCTIONID}
  </select>
  
  <select id="getRecentAuctionItemList" resultType="AuctionItemList">
    SELECT AUCTIONID, TITLE, IMG, CURRENTPRICE, BIDNUM, VIEWS, STARTDATE, ENDDATE, A.ITEMID FROM AUCTIONITEM A, ITEM I
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND STATUS='경매진행중' ORDER BY STARTDATE DESC
  </select>

  <select id="getPopularAuctionItemList" resultType="AuctionItemList">
    SELECT AUCTIONID, TITLE, IMG, CURRENTPRICE, BIDNUM, VIEWS, STARTDATE, ENDDATE FROM AUCTIONITEM A, ITEM I 
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND STATUS='경매진행중' ORDER BY VIEWS DESC
  </select>

  <select id="getMostBiddingAuctionItemList" resultType="AuctionItemList">
    SELECT AUCTIONID, TITLE, IMG, CURRENTPRICE, BIDNUM, VIEWS, STARTDATE, ENDDATE FROM AUCTIONITEM A, ITEM I 
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND STATUS='경매진행중' ORDER BY BIDNUM DESC
  </select>
  
  <select id="getClosingAuctionItemList" resultType="AuctionItemList">
    SELECT AUCTIONID, TITLE, IMG, CURRENTPRICE, BIDNUM, VIEWS, STARTDATE, ENDDATE FROM AUCTIONITEM A, ITEM I 
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND STATUS='경매진행중' ORDER BY ENDDATE
  </select>
  
  <select id="searchAuctionItemList" resultType="AuctionItemList" parameterType="string">
    SELECT AUCTIONID, TITLE, IMG, CURRENTPRICE, BIDNUM, VIEWS, STARTDATE, ENDDATE FROM AUCTIONITEM A, ITEM I 
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND STATUS='경매진행중' AND TITLE LIKE '%' ||  #{word} || '%'
  </select>
  
  <update id="startAuctionItemStatus">
   <![CDATA[
  	UPDATE AUCTIONITEM
  	SET STATUS='경매진행중'
  	WHERE STARTDATE <= #{param1} AND AUCTIONID=#{param2}
   ]]>
  </update>
  
  <update id="updateFailedAuctionStatus">
   <![CDATA[
  	UPDATE AUCTIONITEM
  	SET STATUS='유찰'
  	WHERE ENDDATE <= #{param1} AND AUCTIONID=#{param2}
   ]]>
  </update>
  
  <delete id="deleteAuctionItem" parameterType="string">
    DELETE FROM AUCTIONITEM WHERE AUCTIONID=#{AUCTIONID}
  </delete>
  
  <insert id="insertBidding" parameterType="Bid">
    INSERT INTO BID
      (BIDID, AUCTIONID, BIDPRICE, USERID)
    VALUES
      (bid_seq.nextval, #{auctionId}, #{bidPrice}, #{userId})
  </insert>
  
  <update id="updateCurrentPrice">
  	UPDATE AUCTIONITEM
  	SET CURRENTPRICE = #{param2}, BIDNUM = BIDNUM + 1
  	WHERE AUCTIONID = #{param1}
  </update>
  
  <select id="getBids" resultType="Bid">
    SELECT * FROM BID
    WHERE AUCTIONID=#{AUCTIONID} ORDER BY BIDPRICE
  </select>
  
  <select id="findWinnerBid" resultType="bid">
  	SELECT *
	FROM (SELECT * FROM BID WHERE AUCTIONID = #{AUCTIONID} AND GIVEUP!='1' ORDER BY BIDPRICE DESC)
	WHERE ROWNUM=1
  </select>
  
  <update id="updateWinner">
    <![CDATA[
	  	UPDATE AUCTIONITEM
	  	SET WINNERID=#{winnerId}, WINNINGBIDPRICE=#{bidPrice}, STATUS='낙찰'
	  	WHERE AUCTIONID = #{auctionId} AND ENDDATE <= #{curTime}
  	]]>
  </update>
  
  <select id="getStatus" resultType="string">
  	SELECT STATUS
	FROM AUCTIONITEM
	WHERE AUCTIONID = #{auctionId}
  </select>
  
  <update id="updateImmediatePurchase">
  	UPDATE AUCTIONITEM
  	SET WINNERID=#{param3}, IMMDPURCHASEPRICE=#{param2}, STATUS='즉시구매완료'
  	WHERE AUCTIONID = #{param1}
  </update>
  
  <update id="updateGiveUpAuctionItem">
  	UPDATE AUCTIONITEM
  	SET WINNINGBIDPRICE=NULL, STATUS='낙찰포기'
  	WHERE AUCTIONID = #{auctionId}
  </update>
  
  <update id="updateGiveUpBid">
  	UPDATE BID
  	SET GIVEUP='1'
  	WHERE AUCTIONID = #{auctionId} AND USERID = #{userId}
  </update>
  
  <select id="findSecondBid" resultType="Bid">
   	SELECT *
	FROM (SELECT * FROM BID WHERE AUCTIONID = #{auctionId} ORDER BY BIDPRICE DESC)
	WHERE ROWNUM = 1 AND USERID != #{preWinnerId} AND GIVEUP != '1'
  </select>
  
  <update id="updateStatus">
  	UPDATE AUCTIONITEM
  	SET STATUS=#{param1}
  	WHERE AUCTIONID=#{param2}
  </update>
  
  <insert id="insertOrders" parameterType="Orders" useGeneratedKeys="true" keyProperty="orderId" keyColumn="orderId">
	INSERT INTO Orders 
	(orderId, orderDate, shipaddr, totalprice, shiptoname, bankname, cardnumber, expirydate, phone, userid)
	VALUES 
	(ORDERID_SEQ.nextval, sysdate, #{shipAddr}, #{totalPrice}, #{shipToName}, #{bankName}, 
	#{cardNumber}, #{expiryDate}, #{phone}, #{userId})
  </insert>
  
  <insert id="insertLineItem" parameterType="LineItem">
    <foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" separator=" ">
      INTO lineitem(ORDERID, LINENUM, QUANTITY, UNITPRICE, ITEMID) 
      VALUES (#{item.orderId}, LINENUM_SEQ.nextval, #{item.quantity}, #{item.unitPrice}, #{item.itemId})
    </foreach>
  </insert>
  
  <select id="getAuctionOrder" resultType="Orders">
   	SELECT * FROM Orders WHERE orderId = #{orderId}
  </select>
  
  <select id="getOrderId" resultType="int">
   	SELECT orderId FROM LINEITEM WHERE itemId = #{itemId}
  </select>
  
  <update id="updateRebidding">
  	UPDATE AUCTIONITEM
  	SET WINNINGBIDPRICE=NULL, WINNERID=NULL
  	WHERE AUCTIONID = #{auctionId}
  </update>
  
  <select id="getSellingAuctionItemList" resultType="AuctionItemList">
    SELECT AUCTIONID, TITLE, IMG, STATUS, BIDNUM, STARTDATE, ENDDATE, A.ITEMID FROM AUCTIONITEM A, ITEM I
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND USERID = #{userId} ORDER BY ENDDATE DESC
  </select>
  
  <select id="getBiddingAuctionItemList" resultType="AuctionItemList">
    SELECT DISTINCT A.AUCTIONID, TITLE, IMG, STATUS, BIDNUM, STARTDATE, ENDDATE, A.ITEMID 
	FROM (SELECT AUCTIONID FROM BID WHERE USERID = #{userId}) B, AUCTIONITEM A, ITEM I
	WHERE A.AUCTIONID=B.AUCTIONID AND A.ITEMID=I.ITEMID ORDER BY ENDDATE DESC
  </select>
  
  <select id="getAuctionedItemList" resultType="AuctionItemList">
	SELECT AUCTIONID, TITLE, IMG, STATUS, BIDNUM, STARTDATE, ENDDATE, A.ITEMID FROM AUCTIONITEM A, ITEM I
	WHERE A.ITEMID=I.ITEMID AND type='auction' AND WINNERID = #{userId} AND STATUS != '낙찰포기' ORDER BY ENDDATE DESC
  </select> 
  
  <select id="getFourAuctionItemList" resultType="AuctionItemList">
  <![CDATA[
  	SELECT * FROM AUCTIONITEM A, ITEM I 
    WHERE A.ITEMID=I.ITEMID AND type='auction' AND status='경매진행중' AND rownum <= 4
    ORDER BY views DESC
   ]]>    
  </select>

</mapper>