<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.mnm.dao.mybatis.mapper.CategoryMapper">
	<cache />

  <select id="getCategoryName" resultType="string">
    SELECT
      CATNAME
    FROM CATEGORY
    WHERE CATID = #{catId}
  </select>

  <select id="getCategoryList" resultType="Category">
    select
      catId,
      catName,
      catIdRef,
      level
    FROM CATEGORY
      START WITH catIdRef IS NULL CONNECT BY PRIOR catId = catIdRef
  </select>
  
  <select id="getCategory" resultType="Category">
    SELECT * FROM CATEGORY WHERE CATID = #{catId}
  </select>
</mapper>

