<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.mnm.dao.mybatis.mapper.CrowdFundingMapper">
	<cache />

	<!-- 새로운 펀딩 등록 -->
	<insert id="addFundingItem" parameterType="CrowdFundingItem">
		INSERT INTO
		crowdfundingitem (crowdfundingid, shortInfo, targetAmount,
		startDate,
		closingDate, productComposition, currentSponsoredAmount,
		numberOfSponsor, status, itemid)
		VALUES (#{crowdfundingid},
		#{shortInfo}, #{targetAmount}, #{startDate},
		#{closingDate},
		#{productComposition}, #{currentSponsoredAmount},
		#{numberOfSponsor},
		#{status}, #{itemid})
	</insert>

	<!-- 수정 -->
	<update id="updateFundingItemById"
		parameterType="CrowdFundingItem">
		UPDATE crowdfundingitem SET
		shortInfo=#{shortInfo},
		targetAmount=#{targetAmount},
		startDate=#{startDate},
		closingDate=#{closingDate},
		productComposition=#{productComposition},
		status=#{status}
		WHERE crowdfundingid=#{crowdfundingid}
	</update>

	<!-- 삭제 -->
	<delete id="removeFundingItemById" parameterType="string">
		DELETE FROM
		crowdfundingitem
		WHERE itemid=#{itemid}
	</delete>

	<!-- 펀딩하기(구매) -->
	<insert id="fund" parameterType="Orders">
		INSERT INTO orders (itemid,
		quantity)
		VALUES (#{itemid}, #{quantity})
	</insert>

	<!-- 펀딩 목록 가져오기 -->
	<select id="getAllFundingItems" resultType="CrowdFundingItem">
		SELECT
		i.title AS "title", i.description AS "description", c.status as "status", i.img AS "item.img",
		i.quantity AS "item.quantity", i.regiDate AS "item.regiDate", i.views AS "item.views",
		i.shippingFee AS "item.shippingFee", i.userid AS "item.account.userid", i.productid AS "item.product.productid",
		c.crowdfundingid AS "crowdfundingid", c.shortInfo AS "shortInfo", c.targetAmount AS "targetAmount", 
		c.startDate AS "startDate", c.closingDate AS "closingDate", c.productComposition AS "productComposition", 
		c.currentSponsoredAmount AS "currentSponsoredAmount", c.numberOfSponsor AS "numberOfSponsor", 
		c.status AS "status", c.itemid AS "item.itemid",
		p.productid AS "item.product.productid", p.name AS "item.product.name", 
		ca.catid AS "item.product.category.catid", ca.name AS "item.product.category.name"  
		FROM crowdFundingItem c, item i, product p, category ca, account a 
		WHERE c.itemid = i.itemid AND i.productid = p.productid AND p.catid = ca.catid AND i.userid = a.userid 
		order by regiDate DESC
	</select>

	<!-- 펀딩 아이템 가져오기 -->
	<select id="getFundingItem" parameterType="string"
		resultType="CrowdFundingItem">
		SELECT * FROM crowdfundingitem where itemid=#{itemid}
	</select>
</mapper>

