<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.mnm.dao.mybatis.mapper.PersonalDealMapper">
	<cache />
	
	<select id="getPersonalDealItem" resultType="PersonalDealItem">
    SELECT * FROM PERSONALDEALITEM
    WHERE PERSONALDEALID=#{PERSONALDEALID}
    </select>
		
	<insert id="addPersonalDealItem" parameterType="PersonalDealItem">
		INSERT INTO 
		PERSONALDEALITEM(PERSONALDEALID, LOCATION, DEALSTATUS, PRICE, ITEMID)
		VALUES (personalDealId_seq.nextval, #{location}, '판매중', #{price}, #{item.itemid})
	</insert>
		
	<update id="updatePersonalDealItem" parameterType="PersonalDealItem">
	UPDATE PERSONALDEALITEM 
	SET LOCATION = #{location}, PRICE = #{price}
	WHERE PERSONALDEALID=#{PERSONALDEALID}
	</update>
	
   <delete id="removePersonalDealItem" parameterType="string">
    DELETE FROM PERSONALDEALITEM 
    WHERE PERSONALDEALID=#{PERSONALDEALID}
   </delete>
	
	<update id="finishDealById" parameterType="PersonalDealItem">
		UPDATE personalDealItem
		SET
		dealStatus=#{personalDealItem.dealStatus}
		WHERE
		itemid=#{itemid}
		AND
		personalDealItemId=#{personalDealItemId}
	</update>
	
	<select id="searchPersonalDealItemList" resultType="PersonalDealItem" parameterType="string">
    SELECT PERSONALDEALID, TITLE, IMG, LOCATION, DEALSTATUS, PRICE, VIEWS, REGIDATE, P.ITEMID 
    FROM PERSONALDEALITEM P, ITEM I
    WHERE P.ITEMID=I.ITEMID AND type='personalDeal' AND DEALSTATUS='판매중' AND TITLE LIKE '%' ||  #{word} || '%' 	
	</select>
	
	<select id="getNewestPersonalDealItemList" resultType="PersonalDealItem">
    SELECT PERSONALDEALID, TITLE, IMG, LOCATION, DEALSTATUS, PRICE, VIEWS, REGIDATE, P.ITEMID 
    FROM PERSONALDEALITEM P, ITEM I
    WHERE P.ITEMID=I.ITEMID AND type='personalDeal' AND DEALSTATUS='판매중' ORDER BY REGIDATE ASC
    </select>
	
	<select id="getPopularPersonalDealItemList" resultType="PersonalDealItem">
    SELECT PERSONALDEALID, TITLE, IMG, LOCATION, DEALSTATUS, PRICE, VIEWS, REGIDATE, P.ITEMID 
    FROM PERSONALDEALITEM P, ITEM I
    WHERE P.ITEMID=I.ITEMID AND type='personalDeal' AND DEALSTATUS='판매중' ORDER BY VIEWS DESC	
	</select>
	
	<select id="getLowestPricePersonalDealItemList" resultType="PersonalDealItem">
    SELECT PERSONALDEALID, TITLE, IMG, LOCATION, DEALSTATUS, PRICE, VIEWS, REGIDATE, P.ITEMID 
    FROM PERSONALDEALITEM P, ITEM I
    WHERE P.ITEMID=I.ITEMID AND type='personalDeal' AND DEALSTATUS='판매중' ORDER BY PRICE ASC	
	</select>
	
	<select id="getHightestPricePersonalDealItemList" resultType="PersonalDealItem">
    SELECT PERSONALDEALID, TITLE, IMG, LOCATION, DEALSTATUS, PRICE, VIEWS, REGIDATE, P.ITEMID 
    FROM PERSONALDEALITEM P, ITEM I
    WHERE P.ITEMID=I.ITEMID AND type='personalDeal' AND DEALSTATUS='판매중' ORDER BY PRICE DESC 	
	</select>
	
	<select id="getFourPersonalDealItemList" resultType="PersonalDealItem">
  <![CDATA[
  	SELECT * 
  	FROM PERSONALDEALITEM P, ITEM I 
    WHERE P.ITEMID=I.ITEMID AND type='personalDeal' AND DEALSTATUS='판매중' AND rownum <= 4
    ORDER BY views DESC
   ]]>    
  </select>
</mapper>