<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.mnm.dao.mybatis.mapper.ProductMapper">
	<cache />

	<!-- 펀딩 아이템 가져오기 -->
	<select id="getProductList" resultType="Product">
		SELECT productid AS "productId", name AS "name", catId AS "catId" FROM product
	</select>
</mapper>

